@model IList<Core_R47.Models.ItemCount>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<h2>Show All Items</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    Dept and Total Items:
                </div>
                @foreach (var a in Model)
                {
                    <div class="card-body">
                        @Html.ActionLink(@a.deptname + "- (Products: " + @a.count + ")", "main", new { sid = @a.deptid })

                    </div>
                }
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" id="addnew">Add New</button>
                </div>
            </div>

            </div>
        <div class="col-sm-9">
            <partial name="index" />
        </div>
</div>

